<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ZephyrRelations" value="https://nuget.pkg.github.com/alephtechhouse/index.json" />
</packageSources>
<packageSourceCredentials>
    <ZephyrRelations>
        <add key="Username" value="alephtechhouse" />
        <add key="ClearTextPassword" value="%GITHUB_PAT%" />
    </ZephyrRelations>
</packageSourceCredentials>
</configuration>
